@import "./form";
html{
    font-size: 62.5%;
    min-height: 100%;

}

body{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    // background-color: $main-color;
    min-height: 100vh;
    min-width: 100vw;

}


.main-header{
    height: 10rem;
    // padding-left: 30rem;
}

.home{
    min-height: 100vh;
    background-image: url("../images/goodread_home.png");
    background-size: cover;
    opacity: 1;
}

.home-card{
    margin-top: -5rem;
    border-radius: 2rem;
}

@media only screen and (max-width: 768px) {
    .home-card{
        margin-top: 4rem;
    }
  }

  .Dashboard{
      padding: 5rem;
      background-image: url("../images/form-background.jpg");
      min-height: 100vh;

  }

  th,td{
      font-size: 2rem;
  }
  .modal-paragraph{
      font-weight: bold;
      font-size: 2rem;
  }

  .header-btn{
      min-width: 10rem;
      min-height: 5rem;
      font-size: 2rem;
      font-weight: bold;
      border-radius: 2rem;
  }

  .header-nav{
      font-size: 2.5rem;
      margin-left: 30rem;
  }

  .details{
    min-height: 100vh;
    background-image: url("../images/form-background.jpg");

  }
  @media only screen and (max-width: 768px) {
    .header-nav{
        margin-left: 5rem;
        // color:lightgray
    }
    .Dashboard{
        padding:0;
    }
    .header-nav{
        font-size: 1.5rem;

    }
  }



